<div class="btn-group-vertical" role="group" aria-label="Vertical button group" id="containerButtons">
  
  <button *ngIf="isAdmin" id="btnA" type="submit" [routerLink]="routerTask">
    Comenzar a crear
     <p></p>
     <p></p>
     <p></p>
     <p></p>
   </button>
  
  <button id="btnV" type="submit" [routerLink]="routerClient">
    ¡Visualizar Lo Ultimo!!
      <p></p>
      <p></p>
      <p></p>
      <p></p>
    </button>
  
  
  <button id="btnC" type="submit" (click)="logout()">
    cerrarSesion
    <p></p>
    <p></p>
    <p></p>
    <p></p>
  </button>
  
</div>
 <img src="../../../../../../assets/images/EstacolNews Logo - White with Black Background - 5000x5000.png"
 class="imgSofka" alt="Sample image">
 
 <img src="../../../../../../assets/images/EstacolNews Logo - Black with White Background - 5000x5000.png"
 class="imgSofkaT" alt="Sample image">

 <img src="../../../../../../assets/images/cometa.gif"
 class="imgSofkaC" alt="Sample image">