
<div class="btn-group-vertical" role="group" aria-label="Vertical button group">

  <button type="button" class="btn btn-info" [routerLink]="routerPostTaskPublic">
    PUBLICAR ARTICULO Ó NOTICIA
<p></p>
<p></p>
<p></p>
<p></p>
  </button>

  <button type="button" class="btn btn-info" [routerLink]="routerGetTaskById">
    MIS  ARTICULOS O NOTICIAS
<p></p>
<p></p>
<p></p>
<p></p>
  </button>

  <button type="button" [routerLink]="routerPostTask" >


    CREAR ARTICULO O NOTICIA
<p></p>
<p></p>
<p></p>
<p></p>
  </button>

  <button type="button" class="btn btn-info" [routerLink]="routerPutTaskById" >


    EDITAR ARTICULO Ó NOTICIA
<p></p>
<p></p>
<p></p>
<p></p>
  </button>

  <button type="button" class="btn btn-info" [routerLink]="routerDeleteTaskById">
    ELIMINAR ARTICULO Ó NOTICIA
<p></p>
<p></p>
<p></p>
<p></p>
  </button>

  <button type="button" class="btn btn-info" [routerLink]="routerPutTaskCollaborator">
    AGREGAR COLABORADORES
<p></p>
<p></p>
<p></p>
<p></p>
  </button>

  <button type="button" class="btn btn-info" [routerLink]="routerPutTaskAsig">
   ASIGNAR ARTICULO Ó NOTICIA
<p></p>
<p></p>
<p></p>
<p></p>
  </button>

  <button type="button" class="btn btn-danger"  [routerLink]="routerdashboard">
    GO BACK
    <p></p>
    <p></p>
    <p></p>
    <p></p>
  </button>


</div>










