<div class="btn-group-vertical" role="group" aria-label="Vertical button group" id="containerButtonsMain">
  <button id="btnA" type="button" [routerLink]="routerGetTaskByIdClient">
    ¡PUBLICACIONES!
  <p></p>
  <p></p>
  <p></p>
  <p></p>
  </button>
  
  <button id="btnC" type="button" [routerLink]="routerPostTask" >
    CREAR ARTICULO O NOTICIA
    <p></p>
    <p></p>
    <p></p>
    <p></p>
  </button>
  
  <button id="btnV" type="button" [routerLink]="routerPutTaskById" >
    
    
    EDITAR ARTICULO O NOTICIA
    <p></p>
    <p></p>
    <p></p>
    <p></p>
  </button>
  
  <button id="btnE" type="button"[routerLink]="routerDeleteTaskById">
    ELIMINAR ARTICULO O NOTICIA
    <p></p>
    <p></p>
<p></p>
<p></p>
  </button>
    
      <button id="btnA" type="button" [routerLink]="routerGetTaskById">
        MIS  ARTICULOS O NOTICIAS CREADAS
    <p></p>
    <p></p>
    <p></p>
    <p></p>
      </button>
    


  <button id="btnB" type="button"  [routerLink]="routerdashboard">
    GO BACK
    <p></p>
    <p></p>
    <p></p>
    <p></p>
  </button>


</div>

 <img src="../../../../../../../assets/images/lofi-girl-lofi.gif"
          class="imgSofka" alt="Sample image">








